<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.easy.mvvm.wechat">

    <application>
        <activity
            android:name=".ui.activity.ProjectArticleActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ui.activity.FavActivity"
            android:screenOrientation="portrait" />
    </application>
</manifest>
