<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.easy.mvvm.user">

    <application>
        <activity
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/LoginTheme" />
    </application>

</manifest>