<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hao.easy.mvvm.user">

    <application>
        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:screenOrientation="portrait"
            android:name=".ui.activity.LoginActivity"
            android:theme="@style/LoginTheme" />
    </application>

</manifest>